<!DOCTYPE html>
<html lang='es'>
<body>
    <div marginheight='0' marginwidth='0' style='width:100%!important;margin:0;padding:0'>
        <span style='border:none;padding:0;margin:0;display:none;font-size:1px'></span><table style='border-collapse:collapse;padding:0;max-width:480px;width:100%;border:0;background-color:#ffffff;margin:0 auto;word-break:break-word' cellpadding='0' cellspacing='0'>
            <tbody style='border:none;padding:0;margin:0'>
                <tr style='border:none;margin:0px;padding:0px'>
                    <td style='border:none;padding:0;margin:0'>
                        <div style='border:none;padding:0;margin:0'>
                            <table style='border-collapse:collapse;padding:0;background-color:#ffffff;text-align:left;width:100%;height:50px'>
                                <tbody style='border:none;padding:0;margin:0'>
                                    <tr style='border:none;margin:0px;padding:0px;height:24px'><td colspan='3' style='border:none;padding:0;margin:0;height:24px'></td></tr>
                                    <tr style='border:none;margin:0px;padding:0px'>
                                        <td style='border:none;padding:0;margin:0;width:24px'></td>
                                        <td style='border:none;padding:0;margin:0'>
                                            <a href='https://alexandreya.com/' style='text-decoration:none;color:#1ed760' target='_blank'>
                                                <img src="https://alejandriabetastorage.blob.core.windows.net/users-post-images/Alejandrialogo.png" alt='Alejandrialogo' style='display:block;max-width:100%;margin:auto;width:104px;height:80px' class='CToWUd' data-bit='iit'>
                                            </a>
                                        </td>
                                        <td style='border:none;padding:0;margin:0;width:24px'></td>
                                    </tr>
                                    <tr style='border:none;margin:0px;padding:0px;height:24px'><td colspan='3' style='border:none;padding:0;margin:0;height:24px'></td></tr>
                                </tbody>
                            </table><table style='border-collapse:collapse;padding:0;width:100%;background-color:#ffffff;font-family:&quot;helvetica&quot;,&quot;arial&quot;,sans-serif!important;font-size:40px' dir='auto'>
                                <tbody style='border:none;padding:0;margin:0'><tr style='border:none;margin:0px;padding:0px;height:24px'><td colspan='3' style='border:none;padding:0;margin:0;height:24px'></td></tr><tr style='border:none;margin:0px;padding:0px'><td style='border:none;padding:0;margin:0;width:24px'></td><td style='border:none;padding:0;margin:0'><p style='border:none;padding:0;margin:0;background-color:#ffffff;color:#000000;font-size:40px;font-family:&quot;helvetica&quot;,&quot;arial&quot;,sans-serif!important;font-weight:400;text-align:center'><b style='border:none;padding:0;margin:0'>Hola, {0} &#128075;<b style='border:none;padding:0;margin:0'></b></b></p></td><td style='border:none;padding:0;margin:0;width:24px'></td></tr></tbody>
                            </table><table style='border-collapse:collapse;padding:0;width:100%;background-color:#ffffff;font-family:&quot;helvetica&quot;,&quot;arial&quot;,sans-serif!important;font-size:14px' dir='auto'>
                                <tbody style='border:none;padding:0;margin:0'>
                                    <tr style='border:none;margin:0px;padding:0px;height:24px'><td colspan='3' style='border:none;padding:0;margin:0;height:24px'></td></tr>
                                    <tr style='border:none;margin:0px;padding:0px'><td style='border:none;padding:0;margin:0;width:24px'></td><td style='border:none;padding:0;margin:0'><p style='border:none;padding:0;margin:0;background-color:#ffffff;color:#000000;font-size:16px;font-family:&quot;helvetica&quot;,&quot;arial&quot;,sans-serif!important;font-weight:400;text-align:left'>¡Bienvenido a Alejandría! Para utilizar su cuenta, primero deberá confirmar su correo electrónico haciendo clic en el botón a continuación.<br></p></td><td style='border:none;padding:0;margin:0;width:24px'></td></tr>
                                </tbody>
                            </table><br />
                            <table width='100%' border='0' cellspacing='0' cellpadding='0' style='box-sizing:border-box;border-spacing:0;border-collapse:collapse;font-family:-apple-system,BlinkMacSystemFont,&quot;Segoe UI&quot;,Helvetica,Arial,sans-serif,&quot;Apple Color Emoji&quot;,&quot;Segoe UI Emoji&quot;!important'>
                                <tbody>
                                    <tr style='box-sizing:border-box;font-family:-apple-system,BlinkMacSystemFont,&quot;Segoe UI&quot;,Helvetica,Arial,sans-serif,&quot;Apple Color Emoji&quot;,&quot;Segoe UI Emoji&quot;!important'>
                                        <td style='box-sizing:border-box;font-family:-apple-system,BlinkMacSystemFont,&quot;Segoe UI&quot;,Helvetica,Arial,sans-serif,&quot;Apple Color Emoji&quot;,&quot;Segoe UI Emoji&quot;!important;padding:0'>
                                            <table border='0' cellspacing='0' cellpadding='0' width='100%' style='box-sizing:border-box;border-spacing:0;border-collapse:collapse;font-family:-apple-system,BlinkMacSystemFont,&quot;Segoe UI&quot;,Helvetica,Arial,sans-serif,&quot;Apple Color Emoji&quot;,&quot;Segoe UI Emoji&quot;!important'>
                                                <tbody>
                                                    <tr style='box-sizing:border-box;font-family:-apple-system,BlinkMacSystemFont,&quot;Segoe UI&quot;,Helvetica,Arial,sans-serif,&quot;Apple Color Emoji&quot;,&quot;Segoe UI Emoji&quot;!important'>
                                                        <td align='center' style='box-sizing:border-box;font-family:-apple-system,BlinkMacSystemFont,&quot;Segoe UI&quot;,Helvetica,Arial,sans-serif,&quot;Apple Color Emoji&quot;,&quot;Segoe UI Emoji&quot;!important;padding:0'>
                                                            <a href='{1}' rel='noopener noreferrer' style='background-color: #8d33ff !important; box-sizing: border-box; color: #fff; text-decoration: none; display: inline-block; font-size: inherit; font-weight: 500; line-height: 1.5; white-space: nowrap; vertical-align: middle; border-radius: .5em; font-family: -apple-system,BlinkMacSystemFont,&quot; Segoe UI&quot;,Helvetica,Arial,sans-serif,&quot; Apple Color Emoji&quot;,&quot; Segoe UI Emoji&quot; !important; padding: .75em 1.5em; border: 1px solid #8d33ff ' target='_blank'>Confirmar correo electrónico</a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table><br /><table style='border-collapse:collapse;padding:0;width:100%;background-color:#ffffff;font-family:&quot;helvetica&quot;,&quot;arial&quot;,sans-serif!important;font-size:14px' dir='auto'>
                                <tbody style='border:none;padding:0;margin:0'>
                                    <tr style='border:none;margin:0px;padding:0px;height:5px'><td colspan='3' style='border:none;padding:0;margin:0;height:5px'></td></tr>
                                    <tr style='border:none;margin:0px;padding:0px'>
                                        <td style='border:none;padding:0;margin:0;width:24px'></td>
                                        <td style='border:none;padding:0;margin:0'><p style='border:none;padding:0;margin:0;background-color:#ffffff;color:#000000;font-size:14px;font-family:&quot;helvetica&quot;,&quot;arial&quot;,sans-serif!important;font-weight:400;text-align:left'>Este es un correo automático, por favor no responda. En caso de tener problemas de ingreso a la plataforma o cualquier otro tipo de gestión, puede escribirnos a la dirección de correo electrónico: <strong>info@alexandreya.com</strong></p></td>
                                        <td style='border:none;padding:0;margin:0;width:24px'></td>
                                    </tr>
                                </tbody>
                            </table><table style='border-collapse:collapse;padding:0;width:100%;background-color:#ffffff;font-family:&quot;helvetica&quot;,&quot;arial&quot;,sans-serif!important;font-size:14px' dir='auto'>
                                <tbody style='border:none;padding:0;margin:0'>
                                    <tr style='border:none;margin:0px;padding:0px;height:5px'><td colspan='3' style='border:none;padding:0;margin:0;height:5px'></td></tr>
                                    <tr style='border:none;margin:0px;padding:0px'>
                                        <td style='border:none;padding:0;margin:0;width:24px'></td>
                                        <td style='border:none;padding:0;margin:0'>
                                            <p style='border:none;padding:0;margin-top:6px;background-color:#ffffff;color:#000000;font-size:14px;font-family:&quot;helvetica&quot;,&quot;arial&quot;,sans-serif!important;font-weight:400;text-align:left'>Saludos.  <br>El equipo de Alejandría</p>
                                        </td>
                                        <td style='border:none;padding:0;margin:0;width:24px'></td>
                                    </tr>
                                    <tr style='border:none;margin:0px;padding:0px;height:40px'><td colspan='3' style='border:none;padding:0;margin:0;height:40px'></td></tr>
                                </tbody>
                            </table><table style='border-collapse:collapse;padding:0;background-color:#f7f7f7;width:100%' dir='auto'>
                                <tbody style='border:none;padding:0;margin:0'>
                                    <tr style='border:none;margin:0px;padding:0px;height:25px'></tr>
                                    <tr style='border:none;margin:0px;padding:0px'>
                                        <td style='border:none;padding:0;margin:0;width:6.25%'></td>
                                        <td style='border:none;padding:0;margin:0;font-family:&quot;helvetica&quot;,&quot;arial&quot;,sans-serif;font-weight:400;line-height:1.65em;letter-spacing:0.15px;font-size:11px;text-decoration:none;color:#88898c;text-align:center'>Leadland Company Registered.<br />&#128205; San Salvador, El Salvador<br />Made with &#128151; by Alejandría Team<br /></td>
                                        <td style='border:none;padding:0;margin:0;width:6.25%'></td>
                                    </tr>
                                    <tr style='border:none;margin:0px;padding:0px;height:25px'></tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>